article.post {
  border-bottom: #EBF2F6 1px solid;
  margin: 4rem auto;
  padding-bottom: 4rem;
}

article .author-thumb {
  border-radius: 100%;
}

article footer {
  font-size: 14px;
  color: #ccc;
}

article footer a {
  color: #aaa;
}

article time {
  margin-left: 5px;
  padding-left: 10px;
  border-left: #EBF2F6 1px solid;
}

article em {
  font-weight: 300;
  color: $text-color;
}

article blockquote p {
  font-size: 28px;
  font-style: italic;
}

article.blog-post img {
  left: 50%;
  display: block;
  max-width: 100%;
  position: relative;
  height: auto;
  transform: translateX(-50%);
  padding: 0.6em 0;
}

article.blog-post img.gemoji {
  left: 0;
  display: inline;
  transform: none;
  padding: 0;

}
