.page.post {
  padding-bottom: 4rem;
}

.page .author-thumb {
  border-radius: 100%;
}

.page time {
  margin-left: 5px;
  padding-left: 10px;
  border-left: #EBF2F6 1px solid;
}

.page em {
  font-weight: 300;
  color: $text-color;
}

.page blockquote p {
  font-size: 28px;
  font-style: italic;
}

.page img {
  left: 50%;
  display: block;
  max-width: 100%;
  position: relative;
  height: auto;
  transform: translateX(-50%);
  padding: 0.6em 0;
}

.page img.gemoji {
  left: 0;
  display: inline;
  transform: none;
  padding: 0;
  width: 40px;

}
