.latest-updates ul li {
  list-style-type: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  height: 100px;
  text-align: center;
  position: relative;
  background-image: url(/images/black-thread-light.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest-updates h2 {
  border-bottom: 1px solid #ddd;
}

.latest-updates h3 {
  margin: 0;
  text-align: center;
}

.latest-updates img {
  max-width: 200px;
  float: left;
  margin: 20px;
}

