@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@charset "utf-8";

$text-color: rgb(58,65,69);
$dark-color: #203E5F;
$link-color: #395EA6;
$secondary-color: #CA2C3F;

@import "normalize";
@import "nav";
@import "blog";
@import "latest-updates";
@import "mailing-list";
@import "arrows";

body {
  color: rgb(58, 65, 69);
  letter-spacing: 0.1px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

.me-header {
  color: #eee;
  background: url(../images/mountain.jpg) no-repeat center center;
  background-size: cover;
  min-height: 685px;
}

.me-header h1.name-boss {
  font-weight: 100;
  font-size: 100px;
  margin: 30px 0 0 0;
}

.me-header strong {
  font-weight: 100;
}

.skills .border-right {
  border-right: 1px solid #ccc;
}

.skills ul {
  margin: 30px;
}

.skills li {
  list-style-type: disc;
  margin: 10px 0 10px 0;
}

.skills h1 {
  font-weight: 100;
}

pre {
  font-size: 16px;
}

em {
  font-weight: bold;
  font-style: normal;
}

.page li {
  margin: 15px 0 15px 20px;
}

.logo {
  text-align: center;
  width: 350px;
  z-index: 10;
  float: none;
  margin: 50px auto 0 auto;
}

.logo img {
  border: 2px solid #666;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  border-radius: 100%;
}

.page {
  margin-top: -80px;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

.page a {
  color: $link-color;
}

p.callout {
  text-align: center;
  margin-top: 0;
}

@media (max-width: 600px) {
  .page {
    margin-left: 0;
    margin-right: 0;
  }
  .socialIcons li a {
    color: #fafafa;
    font-size: 28px;
    margin: 15px;
  }

  pre {
    font-size: 12px;
  }
}

.firstSection {
  text-align: center;
  margin-top: 10px;
}

ul {
  margin-top: 5px;
  padding-left: 0;
}

.page p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.socialIcons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.socialIcons li {
  list-style-type: none;
}

.socialIcons li a {
  color: #ccc;
  font-size: 30px;
  margin: 10px;
}

.footer {
  padding: 10px 0 30px 0;
  text-align: center;
  font-size: 13px;
  background-color: rgb(66,79,89);
  color: #ccc;
}

.read-more {
  text-align: center;
  margin-bottom: 40px;
}

.bottom-nav a {
  font-size: 16px;
  color: #eee;
}
