@charset "utf-8";

$text-color: rgb(58,65,69);
$dark-color: #203E5F;
$link-color: #395EA6;
$secondary-color: #CA2C3F;

@import "normalize";
@import "nav";
@import "blog";
@import "latest-updates";
@import "mailing-list";

body {
  color: rgb(58, 65, 69);
  letter-spacing: 0.1px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

.me-header {
  background-color: #eee;
}

.skills {
  color: #333;
  background-color: rgba(255,255,255,0.9);
}

.skills li {
  list-style-type: none;
}

// phones
@media(max-width: 768px) {
  .me-header .col-md-12 {
    margin: 0;
    padding: 0;
    background-image: url('../images/grass.jpg');
  }

  .skills {
    padding: 10px;
  }
  .desktop-logo {
    display: none;
  }
  .phone-logo {
    display: block;
    margin: auto;
  }
}

// bigger devices
@media(min-width: 768px) {
  .me-header {
    padding: 40px 0 40px 0;
    background-image: url('../images/grass.jpg');
  }
  .me-header .col-lg-4 {
    padding-left: 0;
    padding-right: 0;
  }
  .me-header .skills {
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
  }

  .skills {
    min-height: 350px;
  }

  .left-skills {
    border-radius: 10px 0 0 10px;
  }

  .right-skills {
    border-radius: 0 10px 10px 0;
  }
  .desktop-logo {
    display: block;
  }
  .phone-logo {
    display: none;
  }
}


pre {
  font-size: 16px;
}

em {
  font-weight: bold;
  font-style: normal;
}

.page li {
  margin: 15px 0 15px 20px;
}

.logo {
  text-align: center;
  z-index: 10;
}

.logo img {
  border: 2px solid #666;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
}

.page {
  margin-top: -80px;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

.page a {
  color: $link-color;
}

p.callout {
  text-align: center;
  margin-top: 0;
}

@media (max-width: 600px) {
  .page {
    margin-left: 0;
    margin-right: 0;
  }
  .socialIcons li a {
    color: rgb(120,120,120);
    font-size: 28px;
    margin: 15px;
  }

  pre {
    font-size: 12px;
  }
}

.firstSection {
  text-align: center;
  margin-top: 10px;
}

// h1 {
//   color: rgb(60,60,68);
//   font-size: 55px;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   font-weight: 400;
//   font-family: 'Patua One', cursive;
// }

ul {
  margin-top: 5px;
  padding-left: 0;
}

// h2 {
//   color: rgba(0,0,0,0.8);
//   margin: 0;
//   margin-top: 30px;
//   margin-bottom: 15px;
// }
//
.page p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.socialIcons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.socialIcons li {
  list-style-type: none;
}

.socialIcons li a {
  color: rgb(140,140,140);
  font-size: 30px;
  margin: 10px;
}

.footer {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
}
