@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@charset "utf-8";

$text-color: rgb(58,65,69);
$dark-color: #203E5F;
$link-color: #395EA6;
$secondary-color: #CA2C3F;

@import "normalize";
@import "header";
@import "nav";
@import "blog";
@import "latest-updates";
@import "arrows";
@import "main-splash";

body {
  color: rgb(58, 65, 69);
  letter-spacing: 0.1px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

pre {
  font-size: 16px;
}

@media(min-width: 768px) {
  .main-container {
    min-height: calc(100vh - 446px);
  }
  pre {
    margin-left: 5%;
    margin-right: 5%;
  }
  .cp_embed_wrapper {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media(max-width: 768px) {
  .main-container {
    min-height: calc(100vh - 388px);
  }
}

.main-container p {
  margin-top: 15px;
  margin-bottom: 15px;
}




em {
  font-style: italic;
}

.page li {
  margin: 15px 0 15px 20px;
}

.page {
  margin-top: -80px;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

.page a {
  color: $link-color;
}

p.callout {
  text-align: center;
  margin-top: 0;
}

.firstSection {
  text-align: center;
  margin-top: 10px;
}

ul {
  margin-top: 5px;
  padding-left: 0;
}

.socialIcons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.socialIcons li {
  list-style-type: none;
}

.socialIcons li a {
  color: #ccc;
  font-size: 30px;
  margin: 10px;
}

.footer {
  padding: 10px 0 30px 0;
  text-align: center;
  font-size: 13px;
  background-color: rgb(66,79,89);
  color: #ccc;
}

.read-more {
  text-align: center;
  margin-bottom: 40px;
}

.bottom-nav a {
  font-size: 16px;
  color: #eee;
}

h1.title {
  text-align: center;
}

.middle-line > h2 {
  position: relative;
  text-align: center;
  font-weight: 100;
}

.middle-line h2 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.middle-line h2:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.mailing-list {
  background-color: #efefef;
}

.mail-input {
  margin-left: 20px;
  margin-right: 20px;
}

.mail-input .column {
  padding-left: 0;
  padding-right: 0;
}
