.footer
  .container
    .col-md-12
      %ul.list-inline.bottom-nav
        %li
          %a(href="/about") About
        %li
          %a(href="/blog") Blog
        %li
          %a(href="/portfolio") Portfolio
        %li
          %a(href="/talks") Talks
        %li
          %a(href="/contact")
            %i.fa.fa-envelope
            Contact me

      &copy; #{Time.now.year} Grant Ammons
