%section.mailing-list.closed
  .header
    .closed
      %a.js-open-mailing-modal
        %h2
          Want to become a better developer?
          %span.glyphicon.glyphicon-arrow-up
    .open.hidden
      %a.js-close-mailing-modal
        %h2
          Want to become a better developer?
          %span.glyphicon.glyphicon-remove
  .body.hidden
    %p Sign up to receive <em>short, focused, occasional</em> emails about how to level yourself up as a developer.

    %p Enter your email address to get started today.
    %form
      .form-group.form-group-lg
        %input(type="email" class="form-control email-address" placeholder="your@email.com")
      %button(type="submit" class="btn btn-primary btn-block btn-lg") I want to level up!
    %p Join hundreds of other developers looking to up their game!


:javascript
  $(".js-open-mailing-modal").click(function() {
    $("section.mailing-list .closed").addClass("hidden");
    $("section.mailing-list .open").removeClass("hidden");
    $("section.mailing-list .body").removeClass("hidden");
    $("input.email-address").focus();

  });

  $(".js-close-mailing-modal").click(function() {
    $("section.mailing-list .closed").removeClass("hidden");
    $("section.mailing-list .open").addClass("hidden");
    $("section.mailing-list .body").addClass("hidden");
  });

