%section.mailing-list.closed
  .header
    .closed
      %a.js-open-mailing-modal
        %h2
          Want to become a better developer?
          %span.glyphicon.glyphicon-arrow-up
    .open.hidden
      %a.js-close-mailing-modal
        %h2
          Want to become a better developer?
          %span.glyphicon.glyphicon-remove

  .body.hidden
    %p Did you like this post?
    %p Sign up to receive <em>short, focused, occasional</em> emails about how to level yourself up as a developer.

    %p You'll also be the first to know about some awesome courses I have coming up!

    %form(action="//grantammons.us6.list-manage.com/subscribe/post?u=2c85635c3b0fa63233638e6c7&amp;id=43be60dfc6" method="post" class="validate" target="_blank")
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2c85635c3b0fa63233638e6c7_43be60dfc6" tabindex="-1" value=""></div>
      .form-group.form-group-lg
        %input(type="email" name="EMAIL" class="form-control email-address" placeholder="your@email.com" required)
      %button(type="submit" class="btn btn-primary btn-block btn-lg") I want to level up!
    %p Join hundreds of other developers looking to up their game!

:javascript
  var modalClosed = false;
  var openModal = function() {
    $("section.mailing-list .closed").addClass("hidden");
    $("section.mailing-list .open").removeClass("hidden");
    $("section.mailing-list .body").removeClass("hidden");
    $("input.email-address").focus();
  }

  var closeModal = function() {
    modalClosed = true;
    $("section.mailing-list .closed").removeClass("hidden");
    $("section.mailing-list .open").addClass("hidden");
    $("section.mailing-list .body").addClass("hidden");
    ga('send', 'event', 'Mailing List Modal', 'Click Close')
  }

  $('form').on('submit', function() {
    ga('send', 'event', 'Mailing List Modal', 'List signup')
  })

  $(window).scroll(function() {
    if($(window).scrollTop() + $(window).height() >= ($(document).height() * 0.97)) {
      if (!modalClosed) {
        ga('send', 'event', 'Mailing List Modal', 'Scroll Open')
        openModal();
      }
    }
  });

  $(".js-open-mailing-modal").click(function() {
    openModal()
    ga('send', 'event', 'Mailing List Modal', 'Click Open')
  });
  $(".js-close-mailing-modal").click(closeModal);

