.middle-line
  %h2.share-article
    %span
      %a{href: facebook_url, target: "_blank"}
        %i.fa.fa-facebook
      %a{href: twitter_url, target: "_blank"}
        %i.fa.fa-twitter
      %a{href: google_plus_url, target: "_blank"}
        %i.fa.fa-google-plus
