---
title: Contact me
page: contact
---

%ul
  %li
    %strong
      %i.fa.fa-envelope-o
      Email:
    %a(href="mailto:grant@grant.dev") grant@grant.dev
  %li
    %strong
      %i.fa.fa-github
      Github:
    %a(target="_blank" href="https://github.com/gammons") gammons
  %li
    %strong
      %i.fa.fa-twitter
      Twitter:
    %a(target="_blank" href="https://twitter.com/gammons") @gammons
  %li
    %strong
      %i.fa.fa-medium
      Medium:
    %a(target="_blank" href="https://medium.com/@gammons") @gammons
  %li
    %strong
      %i.fa.fa-linkedin
      LinkedIn:
    %a(target="_blank" href="https://www.linkedin.com/in/grant-ammons-70611") Grant Ammons
