---
title: Grant Ammons
layout: index
page: home
hide_nav_logo: true
---

.me-header
  = partial :nav

  .container
    .row
      .col-md-12.logo.centered
        %img.img-responsive.desktop-logo(src="images/me.png")
      .col-md-12.text-center
        %h1.name-boss Grant Ammons
        %strong Engineering Leader

.latest-updates-container
  .container
    = partial :articles

    .read-more
      %h4
        %a(href="/blog") Read more articles
