---
title: Grant Ammons
layout: index
page: home
hide_nav_logo: true
---

.me-header
  = partial :nav

  .container
    .row
      .col-md-12.logo.centered
        %img.img-responsive.desktop-logo(src="images/me.png")
      .col-md-12.text-center
        %h1.name-boss Grant Ammons
        %strong Freelance Consultant
        = partial :arrows

.skills
  .container
    .row
      .col-md-6.border-right
        %h1.text-center Software Engineer.
        %ul
          %li Over <em>10 years</em> of <em>Rails</em> full-stack experience.
          %li Expert knowledge of <em>React, Redux</em> and other Javascript frameworks.
          %li Strong knowledge of Devops: <em>AWS, Ansible, Linux.</em>
          %li Expert familiarity with <em>CSS3</em>.

      .col-md-6
        %h1.text-center Technical leader.
        %ul
          %li Built and Led <em>multiple teams</em> of Rails engineers.  Helped them do their <em>best work</em>.
          %li Knows what goes into a healthy <em>engineering culture</em> and <em>team happiness</em>.
          %li Co-organizer of <a href="#">CTOSchool Philly</a>.

.latest-updates-container
  .container
    .row
      .col-md-12
        .middle-line.latest-updates
          %h2
            %span
              Latest updates

    = partial :articles

    .read-more
      %h4
        %a(href="/blog") Read more articles
