---
title: Grant Ammons
page: home
show_name: true
---

%p.callout
  I'm a <em>software engineer</em> and <em>technical leader</em> with 15 years of experience, and I love to create <em>awesome web apps.</em> Read more
  %a about me
  and
  %a check out my blog!


.latest-updates
  %h2 Latest updates
  - page_articles.take(8).each_slice(2) do |group|
    = partial(:recent_update_row, locals: {articles: group})

= partial(:social_icons)
