---
title: Grant Ammons
header: Engineer, Leader, Technologist
page: about
show_name: true
---

<p>During the last 10 years, I have helped build <a href="https://www.pipelinedeals.com">PipelineDeals</a> from an idea to a complete and popular CRM product.  I was hired as employee #1.  Since then I have scaled the engineering team, the product, and the infrastructure to handle tens of thousands of customers and millions of dollars of annual revenue.</p>

<h2>Product Engineer</h2>
<ul>
  <li>I am passionate about making software products come to life.</li>
  <li>I have over 10 years of experience developing, maintaining, and refactoring large-scale Rails applications.
  <li>I have deep technical knowledge of Ruby, Rails, Mysql and Redis.</li>
  <li>I've invested a lot of time learning new frontend tech: React/Redux, ES6, Electron and creating static site SPAs.</li>
</ul>

<h2>Infrastructure Manager</h2>
<ul>
  <li>PipelineDeals has been using <a href="https://aws.amazon.com/">AWS</a> since 2007.  We were one of the first to embrace EC2 and cloud-based <a href="https://www.oreilly.com/ideas/an-introduction-to-immutable-infrastructure">immutable infrastructure</a>.  Throughout PipelineDeals' history we have had a stellar uptime of over 99.99% annually.</li>
  <li>I have kept our operational costs below 2% of our revenue, <a href="http://www.forentrepreneurs.com/2015-saas-survey-part-2/">which is much less than average.</a>.</li>
  <li>PipelineDeals was one of the first companies to truly embrace <a href="http://plumbing.pipelinedeals.com/deployments-at-pipelinedeals/">continuous deployment and immutable infrastructure</a>.</li>
</ul>

<h2>Team Leader</h2>
<p>I built the engineering team at PipelineDeals from just me to managing 3 teams and 15 engineers.</p>
<ul>
  <li>I pay special attention to fostering a healthy engineering team culture.</li>
  <li>We care deeply about our <a href="https://medium.com/@gammons/your-team-is-likely-violating-the-first-principle-of-agile-1700bf835e9c#.va1o72voa">software delivery process</a>, ensuring there is just enough process to work, without it feeling too cumbersome to all parties involved.  I ensure the end result is <a href="https://medium.com/@gammons/how-to-deliver-high-quality-software-f875b7747aad#.i9loe3r7i">high quality</a>.</li>
  <li>Our team easily passes the <a href="http://www.joelonsoftware.com/articles/fog0000000043.html">Joel test</a>, and we strive to make ourselves better through investment days, hack days, and LearnFests.</li>
  <li>I believe in empowering engineers to do their best work by attracting and hiring amazing people. I care deeply about fostering a healthy team culture and achieving team happiness. I embrace remote working and have years of experience making remote teams a success.</li>
  <li>I am co-organizer of the <a href="http://www.meetup.com/CTO-School-Philadelphia/">Philly CTO School</a>, a meetup group where we talk about problems facing engineering leaders.</li>
</ul>

<h2>About Me</h2>

<p>I live outside of Philadelphia in an old house with my wife, 2 sons, and 2 dogs. I am an <a href="https://runkeeper.com/user/grantammons/profile">avid runner</a> and cook.</p>

<ul class="socialIcons">
  <li> <a target="_blank" href="https://www.github.com/gammons"><i class="fa fa-github" aria-hidden="true"></i></a> </li>
  <li> <a target="_blank" href="https://twitter.com/gammons"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
  <li> <a target="_blank" href="https://medium.com/@gammons"><i class="fa fa-medium" aria-hidden="true"></i></a> </li>
  <li> <a target="_blank" href="https://www.linkedin.com/in/grant-ammons-70611"><i class="fa fa-linkedin" aria-hidden="true"></i> </a> </li>
  <li> <a target="_blank" href="mailto:hi@grantammons.me"><i class="fa fa-envelope" aria-hidden="true"></i></a> </li>
</ul>
