---
title: Grant Ammons
page: about
show_name: true
---

%p I'm an <em>engineer</em> and <em>technical leader</em> with 15 years of experience, and I love to create <em>awesome products.</em>
%p
  Check out my
  %a blog
  or my
  %a portfolio



